.display-inline{
  display: inline;
}
.article-meta {
  display: block;
  position: relative;
  font-weight: 300;
}
a {
  color: #5cb85c;
  text-decoration: none;
}
.article-meta .info {
  margin: 0 1.5rem 0 .3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}
.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
  border: 0;
}
