<div class="article-page">

  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <app-article-meta [article]="article">

        <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/newarticle', article.slug]">
            <i class="ion-edit"></i> Edit Article
          </a>

          <button class="btn btn-sm btn-outline-danger" [ngClass]="{disabled: isDeleting}" (click)="deleteArticle()">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>

        <span [hidden]="canModify">

        </span>

      </app-article-meta>
    </div>
  </div>

  <div class="container page">

    <div class="row article-content">
      <div class="col-md-12">

        <div [innerHTML]="article.body"></div>

        <ul class="tag-list">
          <li *ngFor="let tag of article.tagList" class="tag-default tag-pill tag-outline">
            {{ tag }}
          </li>
        </ul>

      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">



        <div>
          <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on
          this article.
        </div>

        <app-article-comment *ngFor="let comment of comments" [comment]="comment" (deleteComment)="onDeleteComment(comment)">
        </app-article-comment>

      </div>
    </div>

  </div>
</div>
