<div class="container col-7" style="margin-top:40px">

  <form #articleform="ngForm" (ngSubmit)=submitForm(articleform)>

    <div class="form-group">
      <input type="text" #title style="padding:25px;" class="form-control" aria-describedby="articleHelp" placeholder="Article Title"
         name="title" [(ngModel)]="obj.title">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="What's this article about?" name="description" [(ngModel)]="obj.description">
    </div>

    <div class="form-group">
      <textarea class="form-control" rows="6" placeholder="Write your article (in markdown)" name="body" [(ngModel)]="obj.body"></textarea>

    </div>

    <div class="form-group">
      <input type="text" class="form-control" placeholder="Enter Tags" name="tagsList" ngModel>
    </div>
    <button type="submit" class="btn btn-success float-right" style="padding:15px">Publish Article</button>

  </form>

</div>


<!--
<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">

        <form #userForm="ngForm" novalidate (ngSubmit)="submitForm(userForm.value)">
            <div class="form-group">
                <input type="text" placeholder="Article Title" required name="title"
                 minlength="1"
                class="form-control" />

              </div>
              <div class="form-group">
                <input type="text" required placeholder="What's this article about?"
                name="description" class="form-control"/>

              </div>
              <div class="form-group">
                  <textarea type="text"
                  rows=6 placeholder="Write your article (in markdown)" required name="body"
                  class="form-control" > </textarea>

                </div>
                <div class="form-group">
                    <input type="text"
                    placeholder="Enter Tags" name="tags"
                    class="form-control"/>
                  </div>

                <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-primary">Publish Article</button>

        </form>

      </div>
    </div>
  </div>
</div>
-->
